.DS_Store
*/.DS_Store
mturkSubmit/ActiveHITs
mturkSubmit/herokuDBupdate.sh
*.pyc
*.out
*.log
analysis/pixel_em/*/
*/.ipynb_checkpoints/
mturkSubmit/ADE20K_bb_object/
ipynb/.ipynb_checkpoints/
*.txt
analysis/sendmail.py
analysis/cluster_img/
ipynb/test_pInT_pNotInT/
analysis/pixel_em.zip
*.zip
analysis/objid_to_clustid.json
analysis/vision-stuff/color-segmented-images/
analysis/vision-stuff/pixel-vision-tiles/
mturkSubmit/secret.py
mturkSubmit/rootkey.csv
*.csv
ADE20K_analysis/pixel_em/*/
ADE20K_analysis/cluster_img/
