*.pyc
*.out
analysis/pixel_em/
ipynb/.ipynb_checkpoints/
*.txt
*.csv
analysis/sendmail.py
analysis/cluster_img/
ipynb/test_pInT_pNotInT/
analysis/pixel_em.zip
*.zip
analysis/objid_to_clustid.json
analysis/vision-stuff/color-segmented-images/
analysis/vision-stuff/pixel-vision-tiles/

